.list-cell{
    -fx-background-color: null;
    -fx-control-inner-background: null;
}
.list-view{
    -fx-background-image : url("../img/lightbackground.jpg");
    -fx-padding: 1px;
}

.split-pane:horizontal > .split-pane-divider{
    -fx-padding: 0 0.10em 0 0.10em;
    -fx-background-color: rosybrown;
}

.split-pane:horizontal{
    -fx-border-color: rosybrown;
    -fx-background-color: rosybrown;
    -fx-background-insets: 0;
    -fx-padding: 1px;
}

.jfx-hamburger StackPane{
    -fx-background-color: #FFFFFF;
}

.themeColor{
    -fx-background-color: rosybrown;
}

.themeLabel{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

#exitBox{
    -fx-background-color: rosybrown;
}





